<div>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sort by
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-slide-toggle
        [color]="color"
        [checked]="checked"
        [disabled]="disabled">
        last update
      </mat-slide-toggle>
      <mat-slide-toggle
        [color]="color"
        [checked]="checked"
        [disabled]="disabled">
        close at
      </mat-slide-toggle>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Order by
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-slide-toggle
        [color]="color"
        [checked]="checked"
        [disabled]="disabled">
        id
      </mat-slide-toggle>
      <mat-slide-toggle
        [color]="color"
        [checked]="checked"
        [disabled]="disabled">
        lvl
      </mat-slide-toggle>
    </mat-expansion-panel>
  </mat-accordion>
</div>
