<button mat-mini-fab color="warn"
        #tooltip="matTooltip"
        matTooltip="Create a new ticket"
        [matTooltipPosition]="position.value"
        matTooltipHideDelay="50"
        (click)="openDialogTicket()">
  <mat-icon>add</mat-icon>
</button>
<button
        class="invisible">
        none
</button>
<button
  mat-mini-fab
  color="warn"
  matBadge="4"
  [matBadgeHidden]="hidden"
  (click)="toggleBadgeVisibility()"
  matBadgeColor="accent"
  #tooltip="matTooltip"
  matTooltip="Messages"
  [matTooltipPosition]="position.value"
  matTooltipHideDelay="50">
  <mat-icon>messages</mat-icon>
</button>
<button
  class="invisible">
  none
</button>
<button
  mat-mini-fab
  color="warn"
  matBadge="7"
  [matBadgeHidden]="hiddenBis"
  (click)="toggleBadgeVisibilityBis()"
  matBadgeColor="accent"
  #tooltip="matTooltip"
  matTooltip="Notifications"
  [matTooltipPosition]="position.value"
  matTooltipHideDelay="50"
  (click)="openDialogNotifications()">
  <mat-icon>notifications</mat-icon>
</button>
<button
  class="invisible">
  none
</button>
<button
  mat-mini-fab color="warn"
  id="logout-button"
  #tooltip="matTooltip"
  matTooltip="Logout"
  matTooltipClass="tooltip-red"
  [matTooltipPosition]="position.value"
  matTooltipHideDelay="50">
  <mat-icon>logout</mat-icon>
</button>
