<button mat-mini-fab color="warn"
        #tooltip="matTooltip"
        matTooltip="View as manager"
        [matTooltipPosition]="position.value"
        matTooltipHideDelay="50">
  <mat-icon>admin_panel_settings</mat-icon>
</button>
<button mat-mini-fab color="warn"
        #tooltip="matTooltip"
        matTooltip="Alert the team"
        [matTooltipPosition]="position.value"
        matTooltipHideDelay="50">
  <mat-icon>notification_important</mat-icon>
</button>
<button mat-mini-fab color="warn"
        #tooltip="matTooltip"
        matTooltip="Settings"
        [matTooltipPosition]="position.value"
        matTooltipHideDelay="50">
  <mat-icon>settings</mat-icon>
</button>
