<mat-card>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Mail address</mat-label>
      <input matInput>
    </mat-form-field>

    <table><tr>
      <td><mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>

    <mat-form-field appearance="fill">
      <mat-label>Company</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Job</mat-label>
      <input matInput>
    </mat-form-field>
  </form>
</mat-card>

