<mat-card>
  <form>
    <table><tr>
    <td><mat-form-field appearance="fill" [color]="color">
      <mat-label><mat-icon [color]="color">mail</mat-icon>Mail address</mat-label>
      <input matInput>
    </mat-form-field></td>
    </tr></table>

    <table><tr>
      <td><mat-form-field appearance="fill" [color]="color">
        <mat-label><mat-icon [color]="color">badge</mat-icon>First name</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field appearance="fill" [color]="color">
        <mat-label>Last Name</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>

    <table><tr>
    <td><mat-form-field appearance="fill" [color]="color">
      <mat-label><mat-icon [color]="color">business</mat-icon>Company</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" [color]="color">
      <mat-label>Job</mat-label>
      <input matInput>
    </mat-form-field></td>
    </tr></table>
  </form>
</mat-card>

