
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="left-sidenav" mode="side">
    <mat-list>
      <mat-list-item><a routerLink="/backlog"><mat-icon [color]="color" class="margin">build_circle</mat-icon>Backlog</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><a routerLink="/profile"><mat-icon [color]="color" class="margin">support_agent</mat-icon>Profile</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><a routerLink="/teams"><mat-icon [color]="color" class="margin">groups</mat-icon>Teams</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><mat-icon [color]="color" class="margin">leaderboard</mat-icon>Stats</mat-list-item>

    </mat-list>
  </mat-drawer>
  <mat-toolbar [color]="color">
    <button type="button" mat-button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
      <span>dc-ticket</span>
  </mat-toolbar>

<router-outlet></router-outlet>

</mat-drawer-container>
