.container {
  width: 100%;
  height: 100%;
}

.sidenav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-sidenav {
  padding: 40px;
}

.margin {
  margin-right: 10px;
}

span {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: black;
}

#text-header {
  display: flex;
  justify-content: flex-end;
}

#hello-account {
  font-size: medium;
  font-weight: lighter;
}
