div {
  display: flex;
  justify-content: space-between;
}

#left {
  display: flex;
}

app-backlog-selector {
  margin: 15px;
}

app-backlog-navbar {
  margin: 15px;
}

app-backlog-button {
  margin-top: 15px;
}
