<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" *ngFor="let groups of groups">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>groups</mat-icon>
        {{groups.nameGroups}}
      </mat-panel-title>
      <mat-panel-description>
        app {{groups.app}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list>
      <div *ngFor="let teammate of data">
        <mat-list-item><button mat-button>{{teammate.nameAgent}}</button></mat-list-item>
        <mat-divider></mat-divider>
      </div>
      <mat-list-item><button mat-button><mat-icon>add</mat-icon> add agent</button></mat-list-item>
    </mat-list>
    <app-team-panel-button></app-team-panel-button>
  </mat-expansion-panel>
</mat-accordion>

<mat-card>
  <button mat-button>
    <mat-icon>add</mat-icon>
    Create a new team
  </button>
  <button mat-button>
    <mat-icon>edit</mat-icon>
    Edit a team
  </button>
  <button mat-button>
    <mat-icon>delete</mat-icon>
    Delete a team
  </button>
</mat-card>
