mat-expansion-panel {
  width: 600px;
  margin-bottom: 15px;
}

mat-card {
  display: flex;
  justify-content: flex-end;
  width: 567px;
}

mat-panel-title {
  display: flex;
  justify-content: space-between;
}

app-team-panel-button {
  display: flex;
  justify-content: flex-end;
}
